NODE_ENV=development
PORT=3333
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=SUA_SENHA_MYSQL
DB_NAME=informatech_PI
JWT_SECRET=use-uma-chave-longa-e-segura
JWT_EXPIRES_IN=7d
UPLOAD_DIR=uploads
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@informatech.com
ADMIN_PASSWORD=Admin@123
ADMIN_PHONE=00000000000
